.main-list {
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 3rem;
  /* margin: 3rem; */
}

.list-unstyled {
  text-align: left;
  padding-left: 0;
  list-style: none;
}

.filter-item {
  margin-left: 3rem;
  margin-right: 3rem;
}

.hide-toggle > .dropdown-toggle:after {
  content: none !important;
}
